* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Lausane;
    src: url(./fonts/Lausanne-Regular.otf);
}

@font-face {
    font-family: Sometimes;
    src: url(./fonts/Sometimes-Times.ttf);
}

html {
    font-size: 1vw;
}

.title-letter{
    transform: rotateX(90deg) translateX(-30%);
    opacity: 0;
}

body::-webkit-scrollbar {
    display: none;
}
.letterPresentation {
    display: inline-block;
    opacity: 1;
  }
.container {
    background-color: #F5F2ED;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 7rem 1.2rem 2rem;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.ancre {
    opacity: 1;
    transform:translateY(100%);
    opacity: 0;
}

.social-links > span{
    opacity: 0;
}

a {
    text-decoration: none;
    color: black;
}

.separator {
    height: 0.1rem;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
}

.main-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-section {
    margin-top: auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.developer-title {
    font-size: 1.5rem;
    letter-spacing: -0.10rem;
    font-family: Lausane;
    text-align: center;
    margin-bottom: 2rem;
}

.letter {
    display: inline-block;
    opacity: 0;
}

.letterSpacing{
    margin:0 0.15rem
}

.main-title {
    font-size: 8rem;
    font-family: Lausane;
    display: flex;
    align-items: center;
    position: relative;
}

.circle {
    height: 4rem;
    width: 4rem;
    background-color: black;
    display: inline-block;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 0.1rem;
}

.subtitle {
    font-size: 7.5rem;
    display: flex;
    font-family: Lausane;
    gap: 2rem;
    letter-spacing: -1rem;
    transform: translateY(100%);
    opacity: 0;
}

.highlight-letter {
    font-family: Sometimes;
}

.project-title {
    line-height: 8rem;
}

.year-display {
    height: 100%;
    width: 6%;
    position: relative;
    overflow: hidden;
    font-family: Lausane;
}

.year-numbers {
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 40%;
}

.numberYear{
    transform: rotateX(90deg) translateY(-30%);
    opacity: 0;
}

.vertical-separator {
    height: 100vh;
    width: 0.1rem;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    right: 5%;
    transform: scaleY(0);
    transform-origin: top;
}


.circlePresentation {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: fixed;
    clip-path: circle(0%);
    top: 0;
    left:0;

    overflow: hidden;
    margin:auto


}




@media only screen and (max-width : 991px) and (orientation : portrait) {


    .social-links{
        display: none;
    }

    .logo{
        font-size: 4rem;
    }

    .main-title{
        font-size: 12rem;
    }

    .year-numbers{
        font-size: 13rem;
    }

    .subtitle{
        font-size: 10rem;
    }

    .project-title{
        line-height: 10rem;
    }

    .circle{
        height: 6rem;
        width: 6rem;
    }

    .developer-title{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin-bottom: 15rem;
        font-size: 2.5rem;
    }

    .year-numbers{
        left: 41%;
    }

    .vertical-separator{
        right: 7%;
    }

    .year-display{
        width: 10%
    }
}

@media only screen and (max-width : 815px) and (orientation : portrait) {
    .year-numbers{
        font-size: 15rem;
    }

    .vertical-separator{
        right: 8%;
    }

    .year-numbers{
        left: 32%;
    }
}



@media only screen and (max-width : 639.99px) and (orientation : portrait) {



    .logo{
        font-size: 6rem;
    }

    .main-title{
        font-size: 14rem;
    }

    .year-numbers{
        font-size: 17rem;
    }

    .subtitle{
        font-size: 12rem;
    }

    .project-title{
        line-height: 12rem;
    }

    .circle{
        height: 7rem;
        width: 7rem;
    }

    .developer-title{
        margin-bottom: 20rem;
        font-size: 4.5rem;
    }

    .year-numbers{
        left: 22%;
    }

    .vertical-separator{
        right: 10%;
    }

}

