.circlePresentation3 {
    height: 100vh;
    width: 100vw;
    background-color: #F5F2ED;
    position: absolute;
    clip-path: circle(0%);
    top: 0;
    right:0;
    margin:auto;
    z-index:4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem
}

.containerName{
    display: flex;
}

.nameContact{
    font-size: 8rem;
    font-family: sometimes;
}

.containerNameFirstChild{
    width: 80%;
}

.containerNameTwoChild{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2rem 0;
    align-items: end;
    font-family: Lausane;
}

.containerNameTwoChild div:nth-of-type(1)>p{
    text-align: right;
}

.reserved span{
    display: block;
}

.reserved span:nth-of-type(1){
    font-weight: bold;
    margin-bottom: 1rem;
}

.containerFooterInformation{
    display: flex;
    justify-content: end;
    gap:10rem;
    font-family: Lausane;
}

.information span{
    display: block;
}

.containerInformations{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerInformations>span:first-child{
    margin-bottom: 2rem;
    display: block;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

@media only screen and (max-width : 991px) and (orientation : portrait) {


    .nameContact{
        font-size: 10rem;
    }

    .containerNameTwoChild div:nth-of-type(1) > p,.reserved,.containerInformations {
        font-size: 2rem;
    }

    .reserved{
        margin-top: 5rem;
    }
}


@media only screen and (max-width : 440px) and (orientation : portrait) {
    .nameContact{
        font-size: 12rem;
    }

    .containerNameTwoChild div:nth-of-type(1) > p,.reserved,.containerInformations {
        font-size: 3rem;
    }

    .reserved{
        margin-top: 10rem;
    }
}