.circlePresentation2 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: absolute;
    clip-path: circle(0%);
    top: 0;
    right:0;
    margin:auto;
    z-index:3


}



.blocHistoire {
    width: 100%;
    display: flex;
    overflow: visible;
    z-index: 2;
    position: relative;
}

.verticalLine {
    height: 95%;
    width: 0.1rem;
    background-color: #393939;
    position: absolute;
    top: 2.5%;
    left: 3%;
}

.rightBlocHistoire {
    width: 50%;
    color: white;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.texte2, .texte3, .texte4, .texte5, .texte6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 9rem 0 6rem;
    overflow: hidden;
    height: 100vh;
}

.titleChapitre, .titleChapitre2, .titleChapitre3, .titleChapitre4, .titleChapitre5 {
    font-size: 5rem;
    font-family: Lausane;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateX(-30%);
}

.fontSometimes {
    font-family: Sometimes;
}

.textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Lausane;
    opacity: 0;
    transform: translateX(-30%);
}

.stickySection {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.anneeT {
    position: absolute;
    top: 0;
    color: #393939;
    right: 0;
    font-size: 6.5rem;
    overflow: hidden;
    height: 6.5rem;
    display: flex;
    align-items: start;
    mix-blend-mode: difference;
}

.anneeSolo {
    display: flex;
    flex-direction: column;
}

.imgTree{
    height: 90vh;
    width: 70vw;
    margin-top: 3rem;
    display: none;
}


@media only screen and (max-width : 1023px) and (orientation : portrait) {
    .blocImgTree{
        display: none;
    }

    .texte2, .texte3, .texte4, .texte5, .texte6 {
        height: auto;
       padding:10rem 0
    }

    .rightBlocHistoire{
        width: 100%;
        padding:12rem 7rem
    }

    .stickySection{
        width: 0;
    }



    .titleChapitre, .titleChapitre2, .titleChapitre3, .titleChapitre4, .titleChapitre5 {
        font-size: 9rem;
        margin-bottom: 6rem;
    }

    .textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
        font-size: 2.5rem;
        gap:3rem
    }

    .anneeT{
        font-size: 8.5rem;
        height: 8.5rem;
    }
}


@media only screen and (max-width : 815px) and (orientation : portrait) {
    .textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
        font-size: 2.8rem;
        gap:3rem
    }

    .anneeT{
        font-size: 10rem;
        height: 10rem;
    }
}


@media only screen and (min-width : 640px) and (max-width : 767.99px) and (orientation : portrait) {

    .titleChapitre, .titleChapitre2, .titleChapitre3, .titleChapitre4, .titleChapitre5 {
        font-size: 10rem;
        margin-bottom: 6rem;
    }

    .textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
        font-size: 2.5rem;
        gap:4rem
    }

    .anneeT{
        font-size: 9.5rem;
        height: 9.5rem;
    }
}

@media only screen and (max-width : 639.99px) and (orientation : portrait) {
    .titleChapitre, .titleChapitre2, .titleChapitre3, .titleChapitre4, .titleChapitre5 {
        font-size: 10rem;
        margin-bottom: 7rem;
    }

    .textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
        font-size: 2.8rem;
        gap:4rem
    }

    .anneeT{
        font-size: 10.5rem;
        height: 10.5rem;
    }
}

@media only screen and (max-width : 440px) and (orientation : portrait) {
    .titleChapitre, .titleChapitre2, .titleChapitre3, .titleChapitre4, .titleChapitre5 {
        font-size: 11rem;
        margin-bottom: 8rem;
    }

    .textChapitre, .textChapitre2, .textChapitre3, .textChapitre4, .textChapitre5 {
        font-size: 3.5rem;
        gap:4rem
    }

    .anneeT{
        font-size: 12.5rem;
        height: 12.5rem;
    }
}