.project{
    width: 28rem;
    height: 35rem;
    position: absolute;
    border:2px solid white;
    border-radius: 1rem;
    padding:0 4rem
}



div .project:nth-of-type(1) {
    background-color: rgb(18, 18, 18);
    transform: rotate(0deg);

}

div .project:nth-of-type(2) {
    background-color: rgb(68, 68, 68);
    transform: rotate(-5deg) translate(0,-1000px);

}

div .project:nth-of-type(3) {
    background-color: rgb(119, 119, 119);
    transform: rotate(-10deg) translate(0,-1000px);

}

div .project:nth-of-type(4) {
    background-color: rgb(190, 190, 190);
    transform: rotate(-14.9deg) translate(0,-1000px);

}


div .project:nth-of-type(5) {
    background-color: rgb(226, 227, 227);
    transform: rotate(-20deg) translate(0,-1000px);

}




.imgTree{
    height: 50rem;
    width: 75rem;
    margin-top: 3rem;
    display: none;
}



.containerPoint {
    position: relative;
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    margin-right: 2rem;
}

.center-circle {
    width: 100%;
    height: 100%;
    border: 2px solid grey;
    border-radius: 100%;
}

.orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem; /* Diamètre de l'orbite */
    height: 3rem; /* Diamètre de l'orbite */
    animation: rotate 5s linear infinite;
}

.point {
    position: absolute;
    top: 4%;
    left: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}



.containerRotate {
    height: 2.15rem;
    perspective: 800px;
    perspective-origin: center;
    padding-right: 1rem;
  }

  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: end;
  }
  
  /*@keyframes cubeRotate {
    0% {
      transform: rotateX(0deg);
    }
    25% {
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-180deg);
    }
    75% {
      transform: rotateX(-270deg);
    }
    100% {
      transform: rotateX(-360deg);
    }
  }*/

  .side {
    position: absolute;
    font-size: 1rem;
    border: 2px solid white;
    backface-visibility: hidden;
    gap:1rem;
    display: flex;
  }

  .front {
    transform: translateZ(1.2rem);
  }

  .back {

    transform: translateZ(-1.2rem) rotateY(-180deg);
  }
  .back .language {
    transform: rotateY(180deg) rotateX(180deg); /* Inverser le texte pour qu'il soit lisible */
  }
  .top {

    transform: rotateX(90deg) translateZ(1.2rem);
  }

  .bottom {

    transform: rotateX(-90deg) translateZ(1.2rem);
  }